<p>
    <label>Filter: <input type="text" size="30" ng-model="filterStr"></label>
    <button ng:click="filterStr = ''">Clear</button>
</p>

<table id="list">
    <caption>Personae</caption>
    <thead>
    <tr>
        <th><a ng-click="sortBy = 'level'; sortReverse = !sortReverse">Level</a></th>
        <th><a ng-click="sortBy = 'name'; sortReverse = !sortReverse">Name</a></th>
        <th><a ng-click="sortBy = 'arcana'; sortReverse = !sortReverse">Arcana</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="persona in personae | orderBy:sortBy:sortReverse | filter:filterStr">
        <td>{{persona.level}}</td>
        <td><a href='#/persona/{{persona.name}}'>{{persona.name}}</a></td>
        <td>{{persona.arcana}}</td>
    </tr>
    </tbody>
</table>
