<p>
    <div class="ui mini input search-container">
        <label class="search-label">
          Filter:
        </label>
        <input type="text" size="30" ng-model="filterStr" autocorrect="off" autocomplete="off" spellcheck="false" class="search-box">
        &nbsp;
        <button ng:click="filterStr = ''" class="ui mini button clear-button">Clear</button>
    </div>
</p>

<table id="list" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
    <thead>
    <tr>
        <th><a ng-click="sortBy = 'level'; sortReverse = !sortReverse">Level</a></th>
        <th><a ng-click="sortBy = 'name'; sortReverse = !sortReverse">Name</a></th>
        <th><a ng-click="sortBy = 'arcana'; sortReverse = !sortReverse">Arcana</a></th>

        <th class="mobile-hidden"><a ng-click="sortBy = 'inherits'; sortReverse = !sortReverse">Inherits</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'strength'; sortReverse = !sortReverse">Strength</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'magic'; sortReverse = !sortReverse">Magic</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'endurance'; sortReverse = !sortReverse">Endurance</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'agility'; sortReverse = !sortReverse">Agility</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'luck'; sortReverse = !sortReverse">Luck</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'physicalValue'; sortReverse = !sortReverse">Physical</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'gunValue'; sortReverse = !sortReverse">Gun</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'fireValue'; sortReverse = !sortReverse">Fire</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'iceValue'; sortReverse = !sortReverse">Ice</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'electricValue'; sortReverse = !sortReverse">Electric</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'windValue'; sortReverse = !sortReverse">Wind</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'psychicValue'; sortReverse = !sortReverse">Psychic</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'nuclearValue'; sortReverse = !sortReverse">Nuclear</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'blessValue'; sortReverse = !sortReverse">Bless</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'curseValue'; sortReverse = !sortReverse">Curse</a></th>

        <th class="mobile-hidden"><a ng-click="sortBy = 'area'; sortReverse = !sortReverse">Mementos Location</th>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="persona in fullPersonaList | orderBy:sortFunc:sortReverse | filter:filterStr">
        <td>{{persona.level}}</td>
        <td class="left-border">
            <a class="persona-name" href='#/persona/{{persona.name}}'>{{persona.name}}</a>
            <span class="dlc-label" ng-if="persona.dlc">DLC</span>
        </td>
        <td class="left-border">{{persona.arcana}}</td>
        
        <td class="mobile-hidden left-border" ng-if="persona.inherits">{{persona.inherits}}</td>
        <td class="mobile-hidden left-border" ng-if="!persona.inherits">-</td>

        <td class="mobile-hidden left-border">{{persona.strength}}</td>
        <td class="mobile-hidden">{{persona.magic}}</td>
        <td class="mobile-hidden">{{persona.endurance}}</td>
        <td class="mobile-hidden">{{persona.agility}}</td>
        <td class="mobile-hidden">{{persona.luck}}</td>
        <td class="mobile-hidden left-border {{persona.physical}}">{{persona.physical}}</td>
        <td class="mobile-hidden {{persona.gun}}">{{persona.gun}}</td>
        <td class="mobile-hidden {{persona.fire}}">{{persona.fire}}</td>
        <td class="mobile-hidden {{persona.ice}}">{{persona.ice}}</td>
        <td class="mobile-hidden {{persona.electric}}">{{persona.electric}}</td>
        <td class="mobile-hidden {{persona.wind}}">{{persona.wind}}</td>
        <td class="mobile-hidden {{persona.psychic}}">{{persona.psychic}}</td>
        <td class="mobile-hidden {{persona.nuclear}}">{{persona.nuclear}}</td>
        <td class="mobile-hidden {{persona.bless}}">{{persona.bless}}</td>
        <td class="mobile-hidden {{persona.curse}}">{{persona.curse}}</td>

        <td class="mobile-hidden left-border {{persona.area}}"><span title="{{persona.floor}}" class="dlc-label" 
            style="background-color:#c3c8cb" ng-if="persona.floor">?</span> {{persona.area}}</td>
    </tr>
    </tbody>
</table>
